
#nav-bar {
    height: 3.5rem;
}

#dashboard-survey-forms-add-button-wrapper {
    width: 100%;
    height: 4rem;
}

#dashboard-add-survey-form-button {
    margin: auto auto;
    height: 3rem;
}

.content-wrapper {
    overflow-y: hidden;
}

.survey-forms-card-wrapper {
    display: flex;
    flex-direction: row;
}

.dashboard-card {
    height: 2.5rem;
    min-height: 2.5rem;
    padding: 0;
}

.dashboard-card:hover {
    background-color: #EDF7FA;
}

.dashboard-card:active {
    background-color: #E9EEF0;
    height: 2.4rem;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
}

.deploy-card {
    width: 100%;
}

.survey-forms-card {
    width: calc(100% - 6rem);
}

.survey-form-delete-button {
    width: 5.75rem;
    height: 2.25rem;
    margin: 0.125rem;
}

#confirm-delete-modal-header {
    display: flex;
    flex-direction: column;
}

.dashboard-section-title {
    padding: 0.2rem;
    padding-top: 0.5rem;
    padding-left: 3rem;
    border-radius: 0;
}

.dashboard-item-column-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.dashboard-item-column {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 10.5rem);
    overflow-y: auto;
}